[core]
	excludesfile = /home/jhammel/.gitignore
[user]
	name = Jeff Hammel
	email = jhammel@mozilla.com
[alias]
        branches = branch -a
        branchname = git rev-parse --abbrev-ref HEAD
        discard = reset HEAD --hard
        patch = !git diff > ~/$(git rev-parse --abbrev-ref HEAD).diff
        pushbranch = !git push origin $(git rev-parse --abbrev-ref HEAD)
        root = rev-parse --show-toplevel
        st = status
        up = !git pull mozilla master && git push origin master
        wip = !git commit -a -m 'wip' && git push origin $(git rev-parse --abbrev-ref HEAD)