[core]
	excludesfile = /home/jhammel/.gitignore
[user]
	name = Jeff Hammel
	email = jhammel@mozilla.com
[alias]
        branches = branch -a
        root = rev-parse --show-toplevel
        st = status
